#navbar {
	background: rgba(0, 55, 255, 0.3);
	color: white;
	text-decoration: none;
	font-family: monospace;
	border: black 1px solid;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
}


#title {
	width: 350px;
	margin: 10px 20px;
	cursor: pointer;
	font-family: sans-serif;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

h1 {
	padding: 0 10px;
	font-size: 30px;
	text-transform: capitalize;
}

#links {
	margin: 0 20px;
	display: flex;
	justify-content: flex-end;
}

#links p{
	font-size: 15px;
	margin: auto;
	padding: 0 10px;
	cursor: pointer;
	vertical-align: middle;
}
/* className='f3 link dim black underline pa3 pointer' */
