#profile {
	padding: 40px;
	width: 400px;
	border: 1px black solid;
	border-radius: 10px;
}

.title {
	width: 100%;
	text-align: center;
}

.field {
	text-transform: uppercase;
	color: darkblue;
}

.fieldValue {

}
